body {
      margin: 0;
    font-family: 'Muli', sans-serif;
    background:radial-gradient(closest-side, #3f051d, #332e2e,#0e0c31) ;
    /* background: url(../assets/pattern.png),
linear-gradient(135deg, #150a33, #39396e, #322d96, #322d96, #322d96, #39396e, #150a33);
background-blend-mode: screen; */
/* background: linear-gradient(135deg, #150a33, #39396e, #322d96, #322d96, #39396e, #150a33); */
}
* {
  box-sizing: border-box;
}

.main{
  /* max-height: 900px; */
  min-height: 725px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.text{
  width: 50%;
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text h1{
  font-size: 150px;
  margin: -40px 0 5% 0;
  text-align: center;
  color: #837c7b;
}

h2{
  /* width: 40%; */
  font-size: 50px;
  margin: 0 10% 0 0;
  text-align: center;
  color: #241e1e;
}

.imagen{
  min-width: 300px;
  width: 80%;
  margin: -5% 0 0 0;
}