.Columns{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Titel_Columns{
    color: white;
   
}

// .Grafica_proceso {
//     font-family: Arial;
//     font-size: 1em;
// }