


.Container_info{
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

.item{
    display: flex;
    margin-top: 3.5%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .item h2{
    font-family: SitkaSmall;
    font-size: 15px;
    width: 180px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
    margin: 0 0 1.5px 0;
  }

  .item div{
    width: 150px;
    height: 18px;
    margin-bottom: 1px;
    border-radius: 2.5px;
    border: solid 0.5px #707070;
    background-color: var(--ffffff);
    color: white;
  }