.HOME{
    margin: 0;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.HOME h1 {
    color: #e9ecef;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

}

.HOME_GRAF{
    margin-top: 10PX;
    display: flex;
    justify-content: space-around
}
