
.container_PQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.semicirculo{
    width: 120px; 
    height: 72px; 
    padding: 0 25px 0 25px;
    background-color: rgba(255,255,255,0.1);
    background-blend-mode: luminosity;
    //background-color: rgba(13, 11, 41, 0.3);
    box-shadow: 0 1.5px 25px 0 var(--ffffff);
    border-radius: 100px 100px 0 0;
  }
  
  .container {
      width: 300px;
      height: 462px;
      padding: 0 25px 0 25px;
      background-color: rgba(255,255,255,0.1);
      // box-shadow: 0 1.5px 25px 0 var(--ffffff);
      border: solid 2.5px #696e7d;
      background-blend-mode: luminosity;
      border-radius: 18px;
      box-shadow: 0 10px 18px rgba(255,255,255,0.13), 
      0 10px 10px rgba(255,255,255, 0.20);
     // position: relative;
  }
  
  .container_logo{
    text-align: center;
    margin-top: -72px;
  }
  
  img.Producciones-Quimicas-logo {
    width: 80px;
    height: 75px;
    margin: -5px 0 0 0; 
  }
  
  .container_data{
   margin-top: 35px;
   margin-bottom: 5px;
  }
  
  .container_data p {
    margin: 10px 44px 0 44.5px;
    font-family: SitkaSmall;
    font-size: 25px;
    text-align: center;
    color:#ffffff;
  }
  
  .input{
    width: 250px;
    height: 35px;
    padding: 0px 10px;
    margin-top: 5px;
    /*margin-right: 5%;*/
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 0;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;   
    outline: none;
    text-align: center;
  }
    ::placeholder {
      color: white;
    }
  
  .input:focus{
    box-shadow: 0 1px 6px 0 rgb(138, 134, 134);
    border-color: rgb(216, 213, 213);
  }
  
  .input:hover{
    box-shadow: 0 1px 6px 0 rgb(177, 176, 176);
    border-color: white;
  }
  
  .boton {
    display: flex;
    width: 125px;
    height: 40px;
    margin: 30px 62.5px 34.5px;
    border-radius: 25px;
    border: solid 3.5px rgb(138, 134, 134);
    background-image: linear-gradient(98deg, #7e0505 9%, #410606 93%);
    font-family: SitkaSmall;
    font-size: 20px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .boton:hover{
    border: solid 4px rgb(177, 176, 176);
  }
  
  .container_link{
    /* justify-content: end; */
    margin-top:25px;
  }
  
  .container_link p{
    margin: 0 0 5px 0;
    text-align: right;
  }
  
  .container_link a{
    font-family: SitkaSmall;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
