body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  /* background:radial-gradient(closest-side, #3f051d, #332e2e,#0e0c31) ; */
  /* background: url(../assets/pattern.png),
  radial-gradient(closest-side, #3f051d, #332e2e,#0e0c31);
  background-blend-mode: screen; */
  background: linear-gradient(90deg, #1e143a 0%, #16134e 15%, #16134e 85%, #1e143a 100%);
 }

 *{
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    /* margin: 0 0 2.5px 0; */
    /* padding: 1px 10px 5.8px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    border-bottom: solid #ffffff;
    border-top: solid #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    background: linear-gradient(90deg, #282435 0%, #2f2e44 15%, #2f2e44 85%, #282435 100%);
  }
      
  .header_img {
    width: 40px;
    /* height: 68.2px; */
    margin: 0 0 0 2%;    
    /* object-fit:contain; */
    align-items: center;
    display: flex;
    justify-content: space-between;
  } 
  
  .navegar{
    display: flex;
    justify-content: space-between;
  }
  
  .navegar a{
    color: whitesmoke;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
    text-decoration: none;
  }
      
  .header__menu {
    width: 50px;
    margin: 0 2% 0 0;
  }
      
  .header__menu ul {
    display: none;
    list-style: none;
    margin: -6px 0px 0px -23px;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
  }
      
  .header__menu:hover ul, ul:hover {
    display: block;
  }
      
  .header__menu li {
    margin: 1px 0px;
  }
      
  .header__menu li a {
    color: white;
    text-decoration: none;
  }
      
  .header__menu li a:hover {
    text-decoration: underline;
  }
       
  .header__menu--profile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
  }
      
  .header__menu--profile img {
    /* margin-top: 11px; */
    /* margin-right: -55px; */
    width: 40px; 
  }
      
  .header__menu--profile p {
    /* margin: -18px 30px 30px 10px; */
    /* padding: 0px 0px 0px 0px; */
    color: white;
    text-decoration: none;
    margin: 0;
  }

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
} 

.semicirculo{
  width: 120px; 
  height: 60px; 
  background-color: rgba(13, 11, 41, 0.3);
  border-radius: 100px 100px 0 0;
}

.container {
  width: 300px;
  height: 400px;
  padding: 0 25px 0 25px;
  border: solid 2.5px #696e7d;
  border-top: transparent;
  background-color: rgba(13, 11, 41, 0.3);
  border-radius: 18px;
  box-shadow: -10px 10px 10px rgba(255,255,255,0.13), 
  10px 10px 10px rgba(255,255,255, 0.20);
}

.container_logo{
  text-align: center;
  margin-top: -50px;
}

img.Producciones-Quimicas-logo {
  width: 80.5px;
  height: 84px;
}

.container_data{
  margin-top: 35px;
  margin-bottom: 5px;
}

.container_data p {
  margin: 10px 44px 0 44.5px;
  font-family: SitkaSmall;
  font-size: 25px;
  text-align: center;
  color:#ffffff;
}

.input{
  width: 250px;
  height: 35px;
  padding: 0px 10px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 0;
  border-radius: 25px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;   
  outline: none;
  text-align: center;
  font-weight: bold;
}

.input:focus{
  box-shadow: 0 1px 6px 0 rgb(138, 134, 134);
  border-color: rgb(216, 213, 213);
}

.input:hover{
  box-shadow: 0 1px 6px 0 rgb(177, 176, 176);
  border-color: white;
}

.boton {
  display: flex;
  width: 125px;
  height: 40px;
  margin: 30px 62.5px 34.5px;
  border-radius: 25px;
  /* border: solid 3.5px rgb(138, 134, 134); */
  background-image: radial-gradient( #7e0505 9%, #410606 93%);
  font-family: SitkaSmall;
  font-size: 20px;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  cursor: pointer;
}

/* .boton:hover{
  border: solid 4px rgb(177, 176, 176);
} */

.container_link{
  margin-top:25px;
}

.container_link p{
  margin: 0 0 5px 0;
  text-align: right;
}

.container_link a{
  font-family: SitkaSmall;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%
  /* height: 100px; */
  /* width: 100%; */
}

.container_footer{
  /* width: 70%; */
  height: 30px;
  margin: 0 5%;
  /* padding: 10px 18.5px 10px 19px; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  /* padding-left: 30px; */
  margin: 0 10px;
  text-decoration: none;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}