body {
    margin: 0;
   font-family: 'Muli', sans-serif;
   background:radial-gradient(closest-side, #3f051d, #332e2e,#0e0c31) ;
   /* background: 
    url(img/pattern.png),  
    radial-gradient(closest-side, #3f051d, #332e2e,#0e0c31) ;
    background-blend-mode: screen; */
 }
 * {
   box-sizing: border-box;
 }

.main{
    display: flex;
    justify-content: center;
    margin: 15%;
} 

.container {
    width: 300px;
    height: 462px;
    padding: 0 25px 0 25px;
    /*opacity: 0.05;*/
    /*mix-blend-mode: luminosity;*/
    box-shadow: 0 1.5px 25px 0 var(--ffffff);
    border: solid 2.5px #696e7d;
    background-blend-mode: luminosity;
    /*background-image: linear-gradient(to bottom, #000, #fff);*/
    background-color: rgba(32, 27, 82, 0.2);
    border-radius: 18px;
    box-shadow: 0 10px 18px rgba(255,255,255,0.13), 
    0 10px 10px rgba(255,255,255, 0.20);
    position: relative;
}

.container_logo{
    text-align: center;
    margin-top: 5px;
}

  img.Producciones-Quimicas-logo {
  width: 80.5px;
  height: 84px;
}

.container_data{
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.container_data p {
    width: 161.5px;
    height: 25px;
    margin: 10px 44px 0 44.5px;
    font-family: SitkaSmall;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:white;
}

.input{
    width: 250px;
    height: 35px;
    padding: 0px 10px;
    margin-top: 5px;
    /*margin-right: 5%;*/
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 0;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;   
    outline: none;
    text-align: center;
  }
  ::placeholder {
    color: white;
  }
  @media only screen and (max-width: 600px) {

  }

button {
    width: 125px;
    height: 35px;
    margin: 30px 62.5px 34.5px;
    opacity: 0.75;
    border-radius: 25px;
    border: solid 5px #707070;
    background-image: linear-gradient(98deg, #7e0505 9%, #410606 93%);
    font-family: SitkaSmall;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.container_link{
    justify-content: end;
    margin-top:30px;
}

.container_link p{
    margin: 0 0 5px 0;
    text-align: right;
}
.container_link a{
    font-family: SitkaSmall;
    font-size: 15px;
    color: white;
    text-decoration: none;
}