$color-background: #ffffff;
$color-box-primary: #373435;
$color-box-secundary: #8b1a18;

$color-line-primary: rgb(210, 195, 195);
$color-line-secundary: rgba(126, 5, 5, 0.20);
$color-line-focus: rgb(216, 213, 213);
$color-line-hover: rgb(177, 176, 176);

$color-text: white;
$color-placehold: rgba(255, 255, 255, 0.4);

$font-text: SitkaSmall;
$font-input: 'Muli', sans-serif;

$shadow-box: -10px 10px 10px rgba(55, 52, 53, 0.20), 
10px 10px 10px rgba(55, 52, 53, 0.20);
$shadow-focus: 0 1px 6px 0 rgb(138, 143, 143);
$shadow-hover: 0 1px 6px 0 rgb(177, 176, 176);