@import 'vars';

.graphic-columns-container{
    width:  500px;
    // height: 300px;
    display: block;
    border: solid 2px gray;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.graphic-columns-container h1{
    color: white;
}

// .graphic-columns-container canvas{
//     height: 500px;
// }