.Conten{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F4;
}
.Conten h1 {
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

}

.Conten_lote{
    margin-top: 0;
    display: flex;
    justify-content: center;
}