@import 'vars';

.performance-container{
    width: 100%;
    margin: 0 auto;
    background-color: $color-background;
}

.performance-container h1 {
    font-size: 2rem;
    text-align: center;
}

.performance--cards-container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    overscroll-behavior-x: contain;
    // scroll-snap-type: x proximity;
    margin: 2rem auto;
    // justify-content: center;
    gap: 1rem;
}

@media (min-width: 1000px) {
    .performance--cards-container{
        justify-content: center;
    }
}