.Conten{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.Conten h1 {
    color: #e9ecef;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

}

.Conten_lote{
    margin-top: 0;
    display: flex;
    justify-content: center;
}