@import 'vars';

.compare-info-container{
  width: calc(100% - 2rem);
  max-width: 100rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.compare-info--search{
  width: max-content;
  margin: 0 auto;
  display: flex;
  // justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.compare-info--search input{
  width: 25rem;
  height: 3rem;
  background-color: $color-box-primary;
  border: 1px solid $color-line-box;
  border-radius: 25px;
  color: $color-text;
  font-size: 1.6rem;
  text-align: center;
}

.compare-info--search button{
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-image: url('../assets/icons/lupa.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $color-background;
  cursor: pointer;
}