@import 'vars';

.compare-info-container{
    width: 100%;
}

.compare-info-container h1{
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
}
  
.compare-info--cards{
    width: 100%;
    background-color: $color-background;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    overscroll-behavior-x: contain;
    margin: 0 auto;
    gap: 5rem;
}