h1{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px, 0px, 5px, 0px ;
    
  }
.Contenedor_GraficaComparativa_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

