
  .Performance_box{
    width: 200px;
    height: 300px;
    margin: 5px 28px 5px 10px;
    padding: 5px 7.5px 7.5px 8px;
    border-radius: 18px;
    box-shadow: 0 1.5px 10px 0 var(--ffffff);
    border: solid 3px rgba(77, 80, 83, 0.81);
    padding: 0px 30px;
    box-shadow: 0 10px 18px rgba(255,255,255,0.13), 
    0 10px 10px rgba(255,255,255, 0.20);
    position: relative;
    background-color: #373435;
  }

  .Puesto{
    color: white;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .container_lote{
    margin: 10px 0px 0px 0;
    display: flex;
    justify-content:center;
    flex-direction: row;

  }
  .container_lote p{
    color: white;
    font-size: 12px;
  }

  .container_performance{   
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .Con_Lote {
    box-sizing: border-box;
    width: 52%;
    height: 12%;
    margin-left: 56px;
    // background: rgb(150, 145, 158);
    // border: 1px solid rgb(111, 106, 117);
    // border-radius: 12%;
    color: rgb(18, 2, 48);
  }
  .container_performance p{
    color: white;
    font-size: 12px;
  }

  .Con_Rendi{
    box-sizing: border-box;
    width: 52%;
    height: 12%;
    margin-left: 10px;
    // background: rgb(150, 145, 158);
    // border: 1px solid rgb(111, 106, 117);
    // border-radius: 12%;
    color: rgb(18, 2, 48);
  }
