@import 'vars';

.graphic-multiLinea-container{
    width: 100%;
    max-width: 500px;
    // height: 300px;
    border: solid 2px gray;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.graphic-multiLinea-container h1{
    color: purple;
}

// .Grafica_proceso {
//     font-family: Arial;
//     font-size: 1em;
//     height: 50px;
// }
