
  .ticket {
    background-color: blue;
    height: 600px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    clip-path: polygon(
    0 0,
    0% 42%,
    5% 42%,
    5% 58%,
    0 58%,
    0 100%,
    100% 100%,
    100% 58%,
    95% 58%,
    95% 42%,
    100% 42%,
    100% 0
    );
  } 