body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  /* background:radial-gradient(closest-side, #3f051d, #332e2e,#0e0c31) ; */
  /* background: url(../assets/pattern.png),
    radial-gradient(closest-side, #3f051d, #332e2e,#0e0c31);
    background-blend-mode: screen; */
    background: linear-gradient(90deg, #1e143a 0%, #16134e 15%, #16134e 85%, #1e143a 100%);
}
*{
  box-sizing: border-box;
}

.header {
  width: 100%;
  /* margin: 0 0 2.5px 0; */
  /* padding: 1px 10px 5.8px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  border-bottom: solid #ffffff;
  border-top: solid #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  background: linear-gradient(90deg, #282435 0%, #2f2e44 15%, #2f2e44 85%, #282435 100%);
}
    
.header_img {
  width: 40px;
  /* height: 68.2px; */
  margin: 0 0 0 2%;    
  /* object-fit:contain; */
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

.navegar{
  display: flex;
  justify-content: space-between;
}

.navegar a{
  color: whitesmoke;
  font-weight: bold;
  margin: 0 20px;
  cursor: pointer;
  text-decoration: none;
}
    
.header__menu {
  width: 50px;
  margin: 0 2% 0 0;
}
    
.header__menu ul {
  display: none;
  list-style: none;
  margin: -6px 0px 0px -23px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}
    
.header__menu:hover ul, ul:hover {
  display: block;
}
    
.header__menu li {
  margin: 1px 0px;
}
    
.header__menu li a {
  color: white;
  text-decoration: none;
}
    
.header__menu li a:hover {
  text-decoration: underline;
}
     
.header__menu--profile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}
    
.header__menu--profile img {
  /* margin-top: 11px; */
  /* margin-right: -55px; */
  width: 40px; 
}
    
.header__menu--profile p {
  /* margin: -18px 30px 30px 10px; */
  /* padding: 0px 0px 0px 0px; */
  color: white;
  text-decoration: none;
  margin: 0;
}

.input, .tituloComparativa input{
  width: 40%;
  height: 30px;
  padding: 0 0 0 0;
  margin-top: 1%;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;   
  outline: none;
  text-align: center;
}
::placeholder {
  color: white;
}

.input:hover{
  box-shadow: 0 1px 6px 0 white;
  border-color: white;
}

.input:focus{
box-shadow: 0 1px 6px 0 white;
  border-color: white;
}




.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



.section{
  width: 50%;
  margin: 3% 0 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;  
}

.tituloComparativa{
  display: flex;
  justify-items: center;
  align-items: center;
}

.tituloComparativa h1{
  margin: 0;
  font-size: 20px;
}

.tituloComparativa input{
  margin: 0 10px 0 10px;
  width: 250px;
}

.tituloComparativa button{
  cursor: pointer;
  border: none;
  background: none;
}

.tituloComparativa button img{
  width: 20px;
  border: none;
}

.container_grafica{
  width: 650px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  white-space: nowrap;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
}

h1{
  font-family: SitkaSmall;
  font-size: 22px;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fffffff5;
}

.grafica{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /* object-fit: contain;
  box-shadow: 0 1.5px 25px 0 var(--ffffff); */
  -o-object-fit: cover;
     object-fit: cover;
}

.container_info{
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* .container_data{
  display: flex;
  margin-top: 10px;
  width: 400px;
} */

.item{
  display: flex;
  margin-top: 3.5%;
  flex-direction: row;
  flex-wrap: wrap;
}

.item h2{
  font-family: SitkaSmall;
  font-size: 15px;
  width: 180px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin: 0 0 1.5px 0;
}

/* .container_box{
  margin: 0 0 3px 0;
  display: flex;
  flex-direction: column;
} */

.box{
  width: 150px;
  height: 18px;
  margin-bottom: 1px;
  border-radius: 2.5px;
  border: solid 0.5px #707070;
  background-color: var(--ffffff);
  color: white;
}









.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.container_footer{
  width: 45%;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 0 2px 0 2px;
  text-decoration: none;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}